@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body{
    font-family: 'Inter',sans-serif;
    background-color: var(--background_color);
}

*{
    padding: 0px auto;
    margin: 0px auto;
    box-sizing: border-box;
}

:root{
    --background_color--header:#212529;
    --background_color:#E9ECEF;
    --bakcground_color--rgba:rgba(77, 82, 211, 0.1);
    --color_text:#4D52D3;
}